
.sider {
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10;
  &.ligth {
    background-color: white;
    .logo {
      background: white;
      h1 {
        color: #002140;
      }
    }
  }
}

.leftSlider{
  /* border-right: 1px solid rgba(0, 21, 41, 0.35); */
  position: absolute;
  /* left: 0; */
  /* height: calc(80vh); */
  /* min-height: calc(88vh); */
  height:100%;
  margin-bottom: 75px !important;
}

.sliderMenu {
  position: fixed;
  width: 256px !important;
}
