.tabBg {
  background: #F0F2F5;
  padding: 15px 15px 5px 15px;
}

.tabBgCards {
  background: #F0F2F5;
}

.vipStyle {
  /* background: linear-gradient(to bottom right, #DDAA00, white); */
  background: linear-gradient(130deg, #DDAA00, white);
  vertical-align: middle;
  margin-right: 10px;
}
.nonmemberStyle {
  /* background: linear-gradient(to bottom right, #ffe1ff, white); */
  background: linear-gradient(130deg, #C10066, white);
  vertical-align: middle;
  margin-right: 10px;
}
