.cardItem{
  display: inline-block;
  padding: 5px;
  margin: 10px 10px;
  /* border: 1px solid #eee; */
  border-radius:20px;
}

.cardText {
  font-size: 16px;
  padding: 0 10px;
  display: inline-block;
}
.cardTitle {
  font-weight: 600;
}

.cardMarginTop {
  margin: 20px 0;
}
