<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Company icons -->
  <title>CL system</title>
  <link rel="shortcut icon" href="/logo.ico" type="image/x-icon">
  <link rel="icon" href="/logo.ico" type="image/x-icon">
  <link rel="bookmark" href="/logo.ico" type="image/x-icon">

</head>
<body>
  <div id="root"></div>
</body>

</html>
