.commonHeader{
  height: 64px;
  background: #fff;
  overflow: auto;
  padding:0 40px;
  box-shadow: 0 1px 5px #999;
  -webkit-box-shadow: 0 1px 5px #999;
  -moz-box-shadow: 0 1px 5px #999;
  -ms-box-shadow: 0 1px 5px #999;
  -o-box-shadow: 0 1px 5px #999;
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo{
  height: 56px;
  margin-right: 10px;
  margin-top: -4px;
}

.leftLogo{
  float: left;
  font-size: 20px;
  line-height: 60px;
}
.loginLeftLogo{
  float: left;
  margin-left:110px;
  font-size: 20px;
  line-height: 60px;
}
.rightLogo{
  float: right;
  line-height: 60px;
}
.header_logInBtn{
  color: #666666;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 22px;
  font-size: 14px;
}
.header_logInBtn:hover{

}
.header_logInBtn a{
  text-decoration: none;
}
.header_signUpBtn{
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}
.header_signUpBtn a{
  text-decoration: none;
}
.selectLanguage{
  width: 105px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-right: 22px;
  color: #666;
}
.userNameBtn{
  font-size: 14px;
  color: #666;
  text-align: right;
  padding: 0 12px;
}
.infoMenu{
  margin-top:12px;
  color: #666;
}
.header_menu{
  margin-top: 15px!important;
  width: 200px;
  line-height: 41px;
  margin-left: 80px !important;
}
.header_menu_item{
  height:28px;
  font-size: 14px!important;
  color: #666!important;
  text-align: center;
  padding: 0 8px!important;
}
.downImg{
  width: 9px;
  margin-left: 6px;
}
.centerDashboardTitle {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 64px;

}