
.main {
  margin: 0 auto;
  width: 368px;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 200px; */
  padding: 40px;
  /* background-color: rgb(248, 248, 248); */
  background-color: #fff;
  border: 1px solid #eeeeee;
  /* background: linear-gradient(130deg, rgb(247, 205, 226), white); */
  border-radius: 5%;
  /* box-shadow: 5px 5px 5px 5px rgb(220, 233, 238); */
  /* box-shadow: 0px 0px 10px 5px #fff; */
}

.desc {
  font-size: 25px;
  font-weight: 700;
}

.marginAuto {
  text-align: center;
  /* margin: 0 auto; */
}

.loginTitle{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color:  #1890FF;
  margin-top: 20px;
}

.bgc {
  width:  1920px;
  height: 900px;
  position: relative;
  background: url('../../../public/banner.png') no-repeat center;
}
