.spinnerWrapper {
	width: inherit;
	height: inherit;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.spinnerWrapperText {
	font-size: 26px !important;
}
.page_div {
	width: 1068px;
	height: calc(100vh - 300px);
	min-height: 800px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	max-width: 1300px;
	min-width: 1068px;
	border-radius: 8px;
	margin: 0px auto;
	background: white;
	padding: 0px 20px;
}