@import "~antd/lib/style/themes/default.less";

th.column-textalign {
  text-align: center !important;
}

.temp {
  width: 30px;
  height: 20px;
  border-radius: 20%;
  background-color: #FDE3CF;
}

.plan {
  width: 30px;
  height: 20px;
  border-radius: 20%;
  background-color: #87D068;
}

.classListStyle {
  :global {
    .ant-card-body {
      padding: 10px;
      text-align: center;
      font-size: 12px;
    }
  }
}
