
th.column-textalign {
  text-align: center !important;
}

.temp {
  width: 30px;
  height: 20px;
  border-radius: 20%;
  background-color: #FDE3CF;
}

.plan {
  width: 30px;
  height: 20px;
  border-radius: 20%;
  background-color: #87D068;
}

.fontColor {
  color: #000000;
  font-size: 14px;
  padding: -10px;
}
