.footer{
	/* background-color:#F2F2F2; */
	background-color: #F0F2F5;
/*	background-color:#3f3f3f;*/
/*	height: 42px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;*/

	padding: 0 16px;
	margin: 12px 0 12px 0;
	text-align: center;
}

.footerText{
	text-align: center;
	margin: 0 auto 0 auto;
	font-size: 14px;
	color: #999999;
	/*color: white;*/
    line-height: 42px;
}

.links {
	margin-bottom: 8px;
}

.a {
  color: #999999;
  margin-right: 24px;
}

.copyright {
	color: #999999;
	font-size: 14px;
}
