body{
  background: #F0F2F5;
  /* background: #fff; */
  height: auto;
}
html{
  height: auto;
}

.background_layout{
  /* background: pink; */
  position: relative;
  margin-top: 64px;
  min-height: calc(80vh);
  overflow-x: visible !important;
}

.dashboardContentWrapper {
  padding: 0 42px;
  /* background: #F0F2F5; */
  margin: 30px 30px 0;
  background-color: #fff;
  position: relative;
  margin-left: 286px;
  min-height: calc(95vh - 100px);
  /* min-height: calc(100vh -100px); */
  overflow-x: visible !important;
}

.footerStyle {
  flex-direction: column !important;
}


