.tabLinkStyle {
  display: block;
  width: 100%;
  height: 100%;
  color: #314659;
}

.tabLinkStyle:link {
  text-decoration: none;
}

/* .tabWrap :global.ant-tabs-tab-active {
    color: pink !important;
} */

